{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/articles/dummy_article.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %} Article | {% endblock title %}</title>
    <script>

        function toggleFilter() {
            const filterOptions = document.getElementById('filterOptions');
            if (filterOptions.classList.contains('hidden')) {
                filterOptions.classList.remove('hidden');
            } else {
                filterOptions.classList.add('hidden');
            }
        }
    </script>
    {% endblock meta %}

    {% block content %}

    <!-- Desktop -->
    <div class="grid grid-cols-2 gap-4 p-4 main desktop">
        <!-- Search Bar -->
        <div class="flex items-center justify-center col-span-2 search-bar">
            <div class="w-full bg-white rounded-lg shadow-lg p-4">
                <h2 class="text-2xl font-bold text-gray-800 title">Article</h2>
                <form method="GET">
                    <div class="mt-2 flex justify-between">
                        <input type="text" name="search" id="search" placeholder="Search articles" class="w-full border border-gray-300 rounded-md p-2 h-10 hover:border-[#171e2a] text-black">
                        <div class="flex items-center gap-2">
                            <button type="submit" class="self-stretch p-3 bg-[#01aae8] h-10 text-white rounded-tr-lg rounded-br-lg justify-center items-center gap-3 flex cursor-pointer hover:bg-[#0081b1] font-bold font-['Raleway']">Search</button>
                            <!-- Filter Button -->
                            <div id="filterButton" class="self-stretch p-3 bg-[#01aae8] h-10 rounded-lg justify-center items-center gap-3 flex hover:bg-[#0081b1]" onclick="toggleFilter()">
                                <div class="w-5 h-5 relative">
                                    <img src="{% static 'icon/icon_filter.svg' %}" alt="Filter Icon">
                                </div>
                                <div class="text-white text-base font-bold font-['Raleway']">Filter</div>
                            </div>
                        </div>
                    </div>
                    <!-- Filter Options -->
                    <div id="filterOptions" class="hidden mt-2 p-2 rounded-lg bg-[#01aae8] shadow-xl flex flex-row justify-end">
                        <!-- Sorting by Date -->
                        <div class="flex flex-row gap-4 pl-4 items-center">
                            <div class="text-xl text-white font-bold font-['Raleway']">Urutkan dari:</div>
                            <label class="flex items-center space-x-2 text-white font-bold font-['Raleway']"> 
                                <input type="radio" name="sort" value="most_like">
                                <span class="font-bold font-['Raleway']">Like Terbanyak</span>
                            </label>
                            <label class="flex items-center space-x-2 text-white font-bold font-['Raleway']"> 
                                <input type="radio" name="sort" value="oldest">
                                <span class="font-bold font-['Raleway']">Terlama</span>
                            </label>
                            <label class="flex items-center space-x-2 text-white font-bold font-['Raleway'] mr-5"> 
                                <input type="radio" name="sort" value="most_recent">
                                <span class="font-bold font-['Raleway']">Terbaru</span>
                            </label>
                        </div>
                        <!-- Apply filter button-->
                        <button class="w-[100px] self-stretch p-3 bg-white rounded-lg justify-center items-center gap-3 flex hover:bg-[#c4c4c4]" onclick="applyFilter()">
                            <div class="text-[#01aae8] text-base font-bold font-['Raleway']">Cari</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- No Articles -->
        {% if not page_obj %}
        <div class="col-span-2 bg-white rounded-lg shadow-lg p-4 text-center">
            <h2 class="text-2xl font-bold text-gray-800">No Articles</h2>
            <p class="text-gray-600 mt-2">There are no articles to display at the moment. Please check back later.</p>
        </div>
        {% else %}
        <!-- Has Articles -->
        {% for article in page_obj %}
        <div class="bg-white rounded-lg shadow-lg p-4 article">
            <a href="{% url 'articles:' %}"><h2 class="text-2xl font-bold title overflow-y-auto">{{ article.title }}</h2></a>
            <p class="text-gray-600 metadata overflow-y-auto">Posted by: {{ article.posted_by }}</p>
            <div class="flex items-center mt-4">
                <div class="flex items-center">
                    <span class="material-icons mr-2">thumb_up</span>
                    <span class="text-gray-600 like-count mr-5">{{ article.like_count }}</span>
                    <span class="material-icons mx-2">comment</span>
                    <span class="text-gray-600 comment-count">{{ article.comment_count }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination links -->
        <div class="pagination col-span-2">
            <div class="flex items-center justify-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="text-[#01aae8] hover:text-[#0081b1]">
                            <span class="material-icons">chevron_left</span>
                        </a>
                    {% endif %}
                    <span class="current text-xl font-bold text-gray-800">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="text-[#01aae8] hover:text-[#0081b1]">
                            <span class="material-icons">chevron_right</span>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'js/articles/article_main.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <!-- <script src="{% static 'js/articles/dummy_article.js' %}"></script> -->
    <script>
        // NOTHING
    </script>
    {% endblock content %}
