{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/articles/article_main.css' %}">
    <title>Artikel Baket</title>
    {% endblock meta %}
    
    {% block content %}
    <div class="min-h-screen flex items-center justify-center bg-[#fbfbf9] px-12 py-10">
        <div class="rounded-[16px] overflow-hidden shadow-lg bg-white px-20 py-12 flex flex-col items-center justify-center">
            <h2 class="mb-6 font-bold text-3xl text-center">Articles Coming Soon 😱</h2>
        </div>
    </div>
    <script src="{% static 'js/articles/article_main.js' %}"></script>
{% endblock content %}