{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/articles/dummy_article.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %} Article | {% endblock title %}</title>
    <script>
        var csrf_token = '{{ csrf_token }}';
        var article_id = '{{ article.id }}';
        var user = JSON.parse('{{ user_data|safe }}');

        console.log(user);
    </script>
    <script src="{% static 'js/articles/article.js' %}"></script>
    
    <script>
        function getTime(s) {
        return s.replace(/\b(a\.m)\b/g, 'A.M').replace(/\b(p\.m)\b/g, 'P.M');
    }

    function parseContent(content) {
        return DOMPurify.sanitize(content).replace(/\r?\n/g, '<br>').trim();
    }

    function print(s) {
        console.log(s);
    }
    </script>
    {% endblock meta %}
    
    {% block content %}
    <div class="flex flex-col justify-start bg-[#fbfbf9] p-5">
        <!-- desktop-->
        <div class="hidden md:flex md:flex-row rounded-[16px] shadow-lg bg-white p-10 flex flex-col justify-start desktop w-full">
            <div class="flex flex-col w-2/3 main-article p-8 rounded-lg">
                <h2 class="mb-6 font-bold text-3xl text-center title content text-[#333]">{{ article.title }}</h2>
                <p class="text-left mb-1 text-[#555]">
                    {% if article.posted_by %}
                    Posted by: <span class="username font-semibold">{{ article.posted_by }}</span> |
                    {% endif %}
                    Created at: <span class="created_at">{{ article.created_at }}</span>
                </p>
                {% if article.source %}
                <p class="text-left mb-1 text-[#555]">
                    Source: <a href="{{ article.source }}" target="_blank" class="source font-semibold">Source</a>
                </p>
                {% endif %}
                <div class="flex justify-start py-6 mb-3">
                    <div class="flex items-center cursor-default like like-desktop">
                        <span article-like-id="{{ article.id }}" class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                        <span class="like-count">{{ article.like_count }}</span>
                    </div>
                    <div class="flex items-center cursor-default ml-6 comment-desktop">
                        <span class="mr-3 align-bottom cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons comment-button" onclick="window.scrollTo(0, document.body.querySelector('.comment-input').getBoundingClientRect().top);">comment</span>
                        <span class="comment-count align-bottom">{{ article.comment_count }}</span>
                    </div>
                </div>
                <p class="text-left text-justify leading-7 content text-[#333]">{{ article.content }}</p>
                <h2 class="text-2xl font-bold mt-6 mb-2 text-[#555]">Comments</h2>
                <form id="comment-input-desktop">
                    <div class="flex items-center cursor-default comment-input">
                        <textarea placeholder="Write a comment..." class="border border-gray-300 rounded-md p-2 w-full h-20 hover:border-[#171e2a] text-black"></textarea>
                        <button class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1">Post</button>
                    </div>
                </form>
                <div class="comment-section">
            </div>
            </div>
            <!-- Other Articles -->
            <div class="flex flex-col w-1/3">
                <div class="bg-[#e0e0e0] p-5 rounded-lg">
                    <h2 class="text-2xl font-bold mb-4 text-[#555]">Other Articles</h2>
                    {% if other %}
                    {% for article in other %}
                    <div class="bg-white rounded-lg shadow-lg p-4 other-article mb-4 hover:shadow-2xl hover:translate-y-[-1px] transition-all duration-200">
                        <a href="{% url 'articles:show_article' article.id %}"><h3 class="text-xl font-bold title break-words text-[#333]">{{ article.title }}</h3></a>
                        <p class="text-gray-600 metadata break-words">
                            {% if article.posted_by %}
                            Posted by: <span class="username font-semibold">{{ article.posted_by}}</span> |
                            {% endif %}
                            Created at: <span class="created_at">{{ article.created_at }}</span>
                        </p>
                        <div class="flex items-center mt-4">
                            <div class="flex items-center">
                                <span class="material-icons mr-2">thumb_up</span>
                                <span class="text-gray-600 like-count mr-5">{{ article.like_count }}</span>
                                <span class="material-icons mx-2">comment</span>
                                <span class="text-gray-600 comment-count">{{ article.comment_count }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- mobile -->
        <div class="md:hidden min-h-screen flex flex-col justify-start bg-[#fbfbf9] px-3 py-10 mobile">
            <div class="rounded-[16px] shadow-lg bg-white p-5 flex flex-col justify-start">
                <h2 class="mb-6 font-bold text-3xl text-center title text-[#333]">{{ article.title }}</h2>
                {% if article.posted_by %}
                <p class="text-left text-[#555]">Posted by: <span class="username">{{ article.posted_by }}</span></p>
                {% endif %}
                <p class="text-left text-[#555]">Created at: <span class="created_at">{{ article.created_at }}</span></p>
                <p class="text-left mb-3 text-[#555]">Source: <a href="{{ article.source }}" target="_blank" class="source font-semibold">Source</a></p>
                <div class="flex justify-start py-1 like-mobile">
                    <div class="flex items-center cursor-default like">
                        <span article-like-id="{{ article.id }}" class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                        <span class="like-count">{{ article.like_count }}</span>
                    </div>
                </div>
                <div class="flex justify-start py-1 mb-4">
                    <div class="flex items-center cursor-default comment-mobile">
                        <a><span class="mr-3 align-middle cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons comment-button" onclick="window.scrollTo(0, document.body.querySelector('.mobile').querySelector('.comment-input').getBoundingClientRect().top);">comment</span></a>
                        <span class="comment-count">{{ article.comment_count }}</span>
                    </div>
                </div>
                <p class="text-left leading-7 text-[#333] content break-words">{{ article.content }}</p>
                <h2 class="text-2xl font-bold mt-6 mb-2 text-[#555]">Comments</h2>
                <form id="comment-input-mobile">
                    <div class="flex flex-col items-start cursor-default comment-input">
                        <textarea placeholder="Write a comment..." class="border border-gray-300 rounded-md p-2 w-full h-20 hover:border-[#171e2a] text-black"></textarea>
                        <button class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1 mt-2 self-end">Post</button>
                    </div>
                </form>
                <div class="comment-section">

                </div>
            </div>
            <!-- Other Articles -->
            <div class="mt-6 flex flex-col bg-[#e0e0e0] p-6 rounded-lg">
                <h2 class="text-2xl font-bold mb-4 text-[#555]">Other Articles</h2>
                {% if other %}
                {% for article in other %}
                <div class="bg-white rounded-lg shadow-lg p-4 other-article mb-4 hover:shadow-2xl hover:translate-y-[-1px] transition-all duration-200">
                    <a href="{% url 'articles:show_article' article.id %}"><h3 class="text-xl font-bold title break-words text-[#333]">{{ article.title }}</h3></a>
                    {% if article.posted_by %}
                    <p class="text-gray-600 metadata break-words">Posted by: <span class="username">{{ article.posted_by }}</span></p>
                    {% endif %}
                    <p class="text-gray-600 metadata break-words">Created at: <span class="created_at">{{ article.created_at }}</span></p>
                </div>
                <div class="flex items-center mt-4">
                    <div class="flex items-center">
                        <span class="material-icons mr-2">thumb_up</span>
                        <span class="text-gray-600 like-count mr-5">{{ article.like_count }}</span>
                        <span class="material-icons mx-2">comment</span>
                        <span class="text-gray-600 comment-count">{{ article.comment_count }}</span>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        // async function init() {
        //     var article = await fetch("{% url 'articles:json_by_id_aricle' article.id %}").then(response => response.json());
        //     var user = await fetch(`{% url 'articles:current_user' %}`).then(response => response.json());
        //     getArticle(article[0]);
        //     getUser(user);
        // }
        // init()
    </script>
    <script>
        cleanContent();
        cleanTime();
        const commentDesktop = document.getElementById("comment-input-desktop");
        const commentMobile = document.getElementById("comment-input-mobile");

        commentDesktop.addEventListener("submit", e => {
            e.preventDefault();
            addCommentDesktop();
        });


        commentMobile.addEventListener("submit", e => {
            e.preventDefault();
            addCommentMobile();
        });
        start();
    </script>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% endblock content %}