{% extends 'base.html' %}
{% load static %}
<head>
    {% block meta %}
        <link rel="stylesheet" href="{% static 'css/articles/dummy_article.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Artikel Baket</title>
        {% endblock meta %}
    </head>
    
    {% block content %}
    <div class="h-screen flex flex-col justify-start bg-[#fbfbf9] p-5">
        <!-- desktop-->
        <div class="hidden md:flex rounded-[16px] shadow-lg bg-white p-10 flex flex-col justify-start desktop">
            <h2 class="mb-6 font-bold text-3xl text-center title">Dummy Artikel</h2>
            <p class="text-left mb-4">
                Posted by: <span class="username">PoRo</span> |
                Created at: <span class="created_at">12 Oktober 2024, 12:34</span> |
                Updated at: <span class="updated_at">12 Oktober 2024, 12:34</span>
            </p>
            <div class="flex justify-start py-6 mb-4">
                <div class="flex items-center cursor-default like">
                    <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                    <span class="like-count">5</span>
                </div>
                <div class="flex items-center cursor-default ml-6">
                    <span class="mr-3 align-middle cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons comment-button" onclick="window.scrollTo(0, document.body.querySelector('.comment-input').getBoundingClientRect().top);">comment</span>
                    <span class="comment-count">0</span>
                </div>
            </div>
            <p class="text-left text-justify leading-7 content">Child of ours<br />
                Counting the days 'til the summer come<br />
                But you don't live forever<br />
                Your mother will one day bring you home<br />
                And it feels so stupid, 'cause I wasn't scared of this before<br />
                But since I have met you, I don't wanna die no more<br />
                <br />
                So take a long time<br />
                'Cause, oh, the world is lucky to be your home<br />
                I know I need a next life<br />
                'Cause I'm not satisfied to know you just once<br />
                So take a long time<br />
                Oh, the world is lucky to be your home<br />
                I know I need a next life<br />
                Not satisfied to know you just once<br />
                <br />
                Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                <br />
                To live, we're dying<br />
                Why wouldn't we see our world as dark?<br />
                But I won't spend time<br />
                Resenting the way things are<br />
                <br />
                So take a long time<br />
                All the world is lucky to be your home<br />
                I know I need a next life<br />
                Not satisfied to know you just once<br />
                <br />
                Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                <br />
                So take a long time<br />
                Oh, the world is lucky to be your home<br />
                I know I need a next life<br />
                Not satisfied to know you just once<br />
                So take a long time<br />
                Oh, the world is lucky to be your home<br />
                I know I need a next life<br />
                Not satisfied to know you just once<br />
                <br />
                And I won't spend time<br />
                Resenting the way things are
            </p>
            <div class="flex items-center cursor-default mt-6 comment-input">
                <input type="text" placeholder="Write a comment..." class="border border-gray-300 rounded-md p-2 w-full h-10 hover:border-[#171e2a] text-black">
                <button class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1">Post</button>
            </div>
            <div class="comment-section">
                <div class="mt-4 comment">
                    <p class="text-left mb-2">
                        <span class="font-bold">PoRo</span> - <span class="text-gray-500">12 Oktober 2024, 12:34</span>
                    </p>
                    <p class="text-left text-justify leading-7">
                        This song is depressing
                    </p>
                    <div class="flex items-center cursor-default">
                        <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                        <span class="like-count">5</span>
                        <span class="material-icons ml-5 m-1 text-[#01aae8] hover:text-[#15a1d4] edit-button">edit</span>
                        <a class="bg-[#ff0000] hover:bg-[#ff3737] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins m-1" href="#">Delete</a>
                    </div>
                </div>
                <div class="mt-4 comment">
                    <p class="text-left mb-2">
                        <span class="font-bold">Raa</span> - <span class="text-gray-500">18 Oktober 2024, 15:51</span>
                    </p>
                    <p class="text-left text-justify leading-7">
                        Dummy comment
                    </p>
                    <div class="flex items-center cursor-default">
                        <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                        <span class="like-count">3</span>
                        <span class="material-icons ml-5 m-1 text-[#01aae8] hover:text-[#15a1d4] edit-button">edit</span>
                        <a class="bg-[#ff0000] hover:bg-[#ff3737] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins m-1" href="#">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile -->
        <div class="md:hidden h-screen flex flex-col justify-start bg-[#fbfbf9] px-3 py-10 mobile">
            <div class="rounded-[16px] shadow-lg bg-white p-5 flex flex-col justify-start">
                <h2 class="mb-6 font-bold text-3xl text-center title">Dummy Artikel</h2>
                <p class="text-left mb-4">Posted by: <span class="username">Erm what the sigma</span></p>
                <p class="text-left">Created at: <span class="created_at">12 Oktober 2024, 12:34</span></p>
                <p class="text-left mb-4">Updated at: <span class="updated_at">12 Oktober 2024, 12:34</span></p>
                <div class="flex justify-start py-3">
                    <div class="flex items-center cursor-default like">
                        <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                        <span class="like-count">5</span>
                    </div>
                </div>
                <div class="flex justify-start py-3 mb-4">
                    <div class="flex items-center cursor-default">
                        <a><span class="mr-3 align-middle cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons comment-button" onclick="window.scrollTo(0, document.body.querySelector('.mobile').querySelector('.comment-input').getBoundingClientRect().top);">comment</span></a>
                        <span class="comment-count">0</span>
                    </div>
                </div>
                <p class="text-left text-justify leading-7 content">Child of ours<br />
                    Counting the days 'til the summer come<br />
                    But you don't live forever<br />
                    Your mother will one day bring you home<br />
                    And it feels so stupid, 'cause I wasn't scared of this before<br />
                    But since I have met you, I don't wanna die no more<br />
                    <br />
                    So take a long time<br />
                    'Cause, oh, the world is lucky to be your home<br />
                    I know I need a next life<br />
                    'Cause I'm not satisfied to know you just once<br />
                    So take a long time<br />
                    Oh, the world is lucky to be your home<br />
                    I know I need a next life<br />
                    Not satisfied to know you just once<br />
                    <br />
                    Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                    <br />
                    To live, we're dying<br />
                    Why wouldn't we see our world as dark?<br />
                    But I won't spend time<br />
                    Resenting the way things are<br />
                    <br />
                    So take a long time<br />
                    All the world is lucky to be your home<br />
                    I know I need a next life<br />
                    Not satisfied to know you just once<br />
                    <br />
                    Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                    Oh, oh, oh, oh, oh, oh, oh, oh, oh<br />
                    <br />
                    So take a long time<br />
                    Oh, the world is lucky to be your home<br />
                    I know I need a next life<br />
                    Not satisfied to know you just once<br />
                    So take a long time<br />
                    Oh, the world is lucky to be your home<br />
                    I know I need a next life<br />
                    Not satisfied to know you just once<br />
                    <br />
                    And I won't spend time<br />
                    Resenting the way things are
                </p>
                <div class="flex flex-col items-start cursor-default mt-6 comment-input">
                    <input type="text" placeholder="Write a comment..." class="border border-gray-300 rounded-md p-2 w-full h-10 hover:border-[#171e2a] text-black">
                    <button class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1 mt-2 self-end">Post</button>
                </div>
                <div class="comment-section">
                    <div class="mt-4 comment">
                        <p class="text-left mb-2">
                            <span class="font-bold">PoRo</span> - <span class="text-gray-500">12 Oktober 2024, 12:34</span>
                        </p>
                        <p class="text-left text-justify leading-7">
                            This song is depressing
                        </p>
                        <div class="flex items-center cursor-default flex-wrap">
                            <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                            <span class="like-count">5</span>
                            <a class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins ml-5 m-1 mt-2" href="#">Edit</a>
                            <a class="bg-[#ff0000] hover:bg-[#ff3737] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins m-1 mt-2" href="#">Delete</a>
                        </div>
                    </div>
                    <div class="mt-4 comment">
                        <p class="text-left mb-2">
                            <span class="font-bold">Raa</span> - <span class="text-gray-500">18 Oktober 2024, 15:51</span>
                        </p>
                        <p class="text-left text-justify leading-7">
                            Dummy comment
                        </p>
                        <div class="flex items-center cursor-default flex-wrap">
                            <span class="mr-3 cursor-pointer text-[#c8c8c8] hover:text-[#01aae8] material-icons like-button">thumb_up</span>
                            <span class="like-count">3</span>
                            <a class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins ml-5 m-1 mt-2" href="#">Edit</a>
                            <a class="bg-[#ff0000] hover:bg-[#ff3737] text-white font-semibold py-1 px-2 rounded-[10px] use-poppins m-1 mt-2" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/articles/article_main.js' %}"></script>
<!-- <script src="{% static 'js/articles/dummy_article.js' %}"></script> -->
<script>
    document.head.querySelector("title").innerHTML = `Dummy Artikel`;
    document.querySelector(".desktop").querySelectorAll(".like").forEach((element) => {
        const button = element.querySelector(".like-button");
        const likeCount = element.querySelector(".like-count");
        button.addEventListener("click", async (e) => {
            e.preventDefault();
            if (button.classList.contains("selected")) {
                button.classList.remove("selected");
                button.classList.remove("text-[#01aae8]");
                button.classList.add("text-[#c8c8c8]");
                button.classList.add("hover:text-[#01aae8]");
                likeCount.innerText = parseInt(likeCount.innerText) - 1;
            }
            else {
                button.classList.add("selected");
                button.classList.remove("text-[#c8c8c8]");
                button.classList.add("text-[#01aae8]");
                button.classList.remove("hover:text-[#01aae8]");
                likeCount.innerText = parseInt(likeCount.innerText) + 1;
            }
        });
    });

    document.querySelector(".mobile").querySelectorAll(".like").forEach((element) => {
        const button = element.querySelector(".like-button");
        const likeCount = element.querySelector(".like-count");
        button.addEventListener("touchend", async (e) => {
            e.preventDefault();
            if (button.classList.contains("selected")) {
                button.classList.remove("selected");
                button.classList.remove("text-[#01aae8]");
                button.classList.add("text-[#c8c8c8]");
                button.classList.add("hover:text-[#01aae8]");
                likeCount.innerText = parseInt(likeCount.innerText) - 1;
            }
            else {
                button.classList.add("selected");
                button.classList.remove("text-[#c8c8c8]");
                button.classList.add("text-[#01aae8]");
                button.classList.remove("hover:text-[#01aae8]");
                likeCount.innerText = parseInt(likeCount.innerText) + 1;
            }
        });
    });

    document.body.querySelector(".desktop").querySelector(".comment-count").innerHTML = `${document.body.querySelector(".desktop").querySelectorAll(".comment").length}`;
    document.body.querySelector(".mobile").querySelector(".comment-count").innerHTML = `${document.body.querySelector(".mobile").querySelectorAll(".comment").length}`;
</script>
{% endblock content %}