{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <link rel="stylesheet" href="{% static 'css/catalogue/details.css' %}" />
</head>

<body>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-8 p-4 mt-8">
    <!-- Product Image -->
    <div class="flex justify-center items-center">
      <img
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
        class="max-w-full h-auto rounded-lg shadow-lg"
      />
    </div>

    <!-- Product Details -->
    <div class="flex flex-col justify-center space-y-4">
      <p class="flex px-3 py-1 text-lg text-white bg-blue-500 rounded-lg">
        {{ product.category }}
      </p>

      <h1 class="text-3xl font-bold">{{ product.name }}</h1>
      <p class="text-lg text-gray-700">
        <strong>Price:</strong> Rp{{ product.price }}
      </p>
      <p class="text-lg text-gray-700">
        <strong>Specifications:</strong> {{ product.specs }}
      </p>

      <!-- Back Button -->
      <a
        href="{% url 'catalogue' %}"
        class="inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md text-center"
      >
        Back to Products
      </a>
    </div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-8 p-4 mt-8">
    <!-- Reviews Section -->
    <div>
      <h2 class="text-2xl font-semibold mb-4">Reviews</h2>
      <ul>
        {% for review in reviews %}
        <li class="mb-4 p-4 bg-gray-100 rounded-lg">
          <p><strong>{{ review.user.username }}</strong></p>

          <!-- Star Rating -->
          <div>
            {% for i in "12345"|make_list %}
            <span
              class="fa fa-star {% if review.rating >= i|add:'0'|add:0 %}checked{% else %}fa-star-o{% endif %}"
            ></span>
            {% endfor %}
          </div>

          <span class="fa fa-star checked"></span>
          <span class="fa fa-star fa-star-o"></span>

          <p>{{ review.comment }}</p>
          <p class="text-sm text-gray-500">{{ review.created_at }}</p>
        </li>
        {% empty %}
        <li>No reviews yet. Be the first to review!</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Review Form -->
    <div>
      <h2 class="text-2xl font-semibold mt-8 mb-4">Leave a Review</h2>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md"
        >
          Submit Review
        </button>
      </form>
    </div>
  </div>
  {% endblock content %}

  <script src="{% static 'js/catalogue/details.js' %}"></script>
</body>
