{% extends 'base.html' %} {% load static %} {% block meta %}
<title>{% block title %} Product | {% endblock title %}</title>
{% endblock meta %} {% block content %}

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />

  <link rel="stylesheet" href="{% static 'css/catalogue/details.css' %}" />
</head>

<body class="text-base font-bold font-['Raleway']">
  <div
    class="flex flex-col sm:flex-row gap-8 p-4 py-12 mx-8 shadow-lg rounded-lg relative "
  >
    <div
      class="bg-[#01aae8] absolute right-4 flex rounded-lg hover:bg-[#0081b1]"
    >
      <a href="{% url 'catalogue:catalogue' %}">
        <button class="p-4 rounded-lg text-white font-bold text-xl flex flex-row items-center gap-4">
          Kembali
          <img src="{% static 'icon/icon_rchevron.svg' %}" alt="Back Icon" />
        </button>
      </a>
    </div>
    <!-- Product Image -->
    <div class="mx-4 flex justify-center items-center">
      <img
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
        class="w-[360px] h-[360px] rounded-lg object-cover"
      />
    </div>

    <!-- Product Details -->
    <div class="flex-[1] flex flex-col justify-center space-y-4">
      <h1 class="text-4xl font-bold">{{ product.name }}</h1>
      <p class="text-[#01aae8] text-3xl font-bold font-['Raleway']">
        Rp{{ product.price }}
      </p>

      <div id="average_rating" class="font-bold text-lg"></div>

      <p class="flex items-center">
        <strong class="mr-2 text-lg text-gray-700">Category:</strong>
        <span
          class="px-3 py-1 text-sm text-white bg-[#9ba7ba] rounded-lg inline-flex transition-transform transform hover:scale-105 duration-200"
        >
          {{ product.category }}
        </span>
      </p>

      <p class="text-gray-700 text-lg">
        <strong>Descriptions:</strong> <br />{{ product.specs|linebreaks }}
      </p>

      <div class="flex gap-4">
        <button
          onclick="addToCart('{{ product.id }}')"
          class="self-stretch p-3 bg-[#01aae8] rounded-lg justify-center items-center gap-3 flex hover:bg-[#0081b1]"
        >
          <div class="w-5 h-5 relative">
            <img src="{% static 'images/icon_cart.png' %}" alt="Cart Icon" />
          </div>
          <div class="text-white text-base font-bold font-['Raleway']">
            Add to Cart
          </div>
        </button>

        <button
          onclick="toggleWishlist('{{ product.id }}')"
          class="text-white px-4 py-2 rounded-lg flex items-center gap-2 {% if is_in_wishlist %} bg-red-400 {% else %} bg-blue-500 {% endif %}"
          id="wishlist-button"
        >
          <span>
            {% if is_in_wishlist %} Remove from Wishlist {% else %} Add to
            Wishlist {% endif %}
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap gap-8 p-8">
    <!-- Review Form Section -->
    <div class="flex-1 min-w-[300px]">
      <!-- Adjust min-width as necessary -->
      <form
        id="reviewForm"
        class="review-form bg-white p-6 rounded-lg shadow-md w-full"
      >
        {% csrf_token %}
        <input type="hidden" name="prod_id" value="{{ product.id }}" />

        <div class="form-group mb-4 grid place-items-center">
          <div class="input_rating">
            <div class="rating-wrapper flex">
              <input
                type="radio"
                id="star-5"
                name="rate"
                value="5"
                class="hidden"
              />
              <label
                for="star-5"
                class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition-colors duration-200"
                >★</label
              >

              <input
                type="radio"
                id="star-4"
                name="rate"
                value="4"
                class="hidden"
              />
              <label
                for="star-4"
                class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition-colors duration-200"
                >★</label
              >

              <input
                type="radio"
                id="star-3"
                name="rate"
                value="3"
                class="hidden"
              />
              <label
                for="star-3"
                class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition-colors duration-200"
                >★</label
              >

              <input
                type="radio"
                id="star-2"
                name="rate"
                value="2"
                class="hidden"
              />
              <label
                for="star-2"
                class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition-colors duration-200"
                >★</label
              >

              <input
                type="radio"
                id="star-1"
                name="rate"
                value="1"
                class="hidden"
              />
              <label
                for="star-1"
                class="cursor-pointer text-2xl text-gray-400 hover:text-yellow-500 transition-colors duration-200"
                >★</label
              >
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <textarea
            class="input w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-400"
            name="comment"
            placeholder="Your Review"
            rows="4"
          ></textarea>
        </div>

        {% if user.is_authenticated %}
        <div class="grid place-items-center">
          <button
            type="submit"
            id="submit"
            class="h-11 px-4 bg-[#01aae8] rounded-lg inline-flex items-center gap-2 hover:bg-[#0081b1] text-white transition-colors duration-200"
          >
            Kirim Ulasan
          </button>
        </div>
        {% else %}
        <div class="mt-4 text-center">
          <p class="text-gray-500">
            You need to log in to submit a review.
            <a
              href="{% url 'main:login' %}"
              class="text-[#01aae8] underline hover:text-[#0081b1]"
            >
              Login
            </a>
          </p>
        </div>
        {% endif %}
      </form>
    </div>

    <!-- Review Cards and Filter Section -->
    <div class="flex-1 min-w-[300px]">
      <div
        id="filterBtn"
        class="p-3 bg-[#01aae8] rounded-lg justify-center items-center gap-3 flex hover:bg-[#0081b1] mb-4"
        onclick="toggleFilter()"
      >
        <div class="w-5 h-5 relative">
          <img src="{% static 'icon/icon_filter.svg' %}" alt="Filter Icon" />
        </div>
        <div class="text-white text-base font-bold font-['Raleway']">
          Saring Ulasan
        </div>
      </div>

      <div
        id="reviewFilter"
        class="hidden mt-4 rounded-lg bg-[#01aae8] shadow-xl grid"
      >
        <form
          id="filterForm"
          class="items-center justify-center grid grid-cols-3 gap-4 m-4 justify-items-center items-center"
        >
          <label for="show_all" class="text-white">
            <input type="radio" name="star_rating" id="show_all" checked />
            Show All
          </label>
          <label for="5stars" class="text-white">
            <input type="radio" name="star_rating" id="5stars" value="5" />
            5 Stars
          </label>
          <label for="4stars" class="text-white">
            <input type="radio" name="star_rating" id="4stars" value="4" />
            4 Stars
          </label>
          <label for="3stars" class="text-white">
            <input type="radio" name="star_rating" id="3stars" value="3" />
            3 Stars
          </label>
          <label for="2stars" class="text-white">
            <input type="radio" name="star_rating" id="2stars" value="2" />
            2 Stars
          </label>
          <label for="1stars" class="text-white">
            <input type="radio" name="star_rating" id="1stars" value="1" />
            1 Star
          </label>

          <button
            type="submit"
            class="text-[#01aae8] bg-white rounded-lg p-2 text-sm"
          >
            Filter
          </button>
        </form>
      </div>

      <div id="message_card"></div>
      <div id="review_card"></div>
    </div>
  </div>
</body>

<script>
  async function getReviews() {
    const productId = document.querySelector('input[name="prod_id"]').value;
    const selectedRating =
      document.querySelector('input[name="star_rating"]:checked')?.value || "";

    console.log("Product ID:", productId);
    console.log("Selected Rating:", selectedRating);

    const response = await fetch("{% url 'catalogue:show_json' %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams({
        prod_id: productId,
        star_rating: selectedRating,
      }),
    });

    if (response.ok) {
      return await response.json();
    } else {
      console.error("Failed to fetch reviews:", response.statusText);
      throw new Error("Failed to fetch reviews");
    }
  }

  document
    .getElementById("filterForm")
    .addEventListener("submit", async (e) => {
      e.preventDefault();
      const selectedRating =
        document.querySelector('input[name="star_rating"]:checked')?.value ||
        "";
      console.log(selectedRating);
      try {
        const reviews = await getReviews(); // Get reviews with filter
        refreshReviewForm(reviews); // Function to display reviews
      } catch (error) {
        console.error(error);
      }
    });

  async function refreshReviewForm() {
    document.getElementById("review_card").innerHTML = "";
    document.getElementById("review_card").className = "";
    const jsonResponse = await getReviews();
    const reviews = jsonResponse.reviews || [];
    const averageRating = jsonResponse.average_rating || 0.0;
    console.log(averageRating);
    let htmlString = "";
    let classNameString = "";
    let averageRatingHtml = "";

    let starsString = "";
    for (let i = 1; i <= 5; i++) {
      if (i <= Math.round(averageRating)) {
        starsString += '<i class="fa fa-star text-yellow-500"></i>\n';
      } else {
        starsString += '<i class="fa fa-star text-gray-400"></i>\n';
      }
    }

    averageRatingHtml = ` 
        <div class="font-bold text-lg">
          ${starsString}
          ${averageRating} | ${reviews.length} Reviews
        </div>
    `;
    document.getElementById("average_rating").innerHTML = averageRatingHtml;

    // If there is no reviews yet
    if (reviews.length === 0) {
      classNameString =
        "flex flex-col items-center justify-center min-h-[24rem] p-6";
      htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <p class="text-center text-gray-600 mt-4">No reviews yet.</p>
            </div>
        `;
    } else {
      // Review cards
      classNameString = "";
      reviews.forEach((item) => {
        let starsHtml = "";
        for (let i = 1; i <= 5; i++) {
          if (i <= item.fields.rating) {
            starsHtml += '<i class="fa fa-star text-yellow-500"></i>\n';
          } else {
            starsHtml += '<i class="fa fa-star text-gray-400"></i>\n';
          }
        }

        htmlString += `
        <div class="relative bg-white p-4 rounded-lg shadow-md mb-4 mt-4 transition-transform transform hover:scale-105 duration-200">
          <div class="flex justify-between items-center mb-2">
            <div class="flex items-center">
              <i class="far fa-user mr-2 text-gray-500"></i>
              <span class="font-semibold text-gray-800 text-lg">${
                item.fields.username
              }</span>
              <span class="absolute top-4 right-4 text-gray-500 text-sm">
                <span>${new Date(
                  item.fields.created_at
                ).toLocaleString()}</span>
              </span>
            </div>
          </div>
          <div class="flex mb-2">${starsHtml}</div>
          <p class="text-gray-700 mt-2">${item.fields.comment}</p>
        </div>
        `;
      });
    }
    document.getElementById("review_card").className = classNameString;
    document.getElementById("review_card").innerHTML = htmlString;
  }

  refreshReviewForm();

  async function addReview() {
    const response = await fetch("{% url 'catalogue:add_review_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector("#reviewForm")),
    });

    if (response.ok) {
      alert("Review submitted successfully!");
      await refreshReviewForm();
      document.getElementById("reviewForm").reset();
    } else {
      alert("Ratings can't be empty!");
    }
  }

  document.getElementById("reviewForm").addEventListener("submit", (e) => {
    e.preventDefault();
    addReview();
  });
</script>

<script>
  function toggleFilter() {
    const filterOptions = document.getElementById("reviewFilter");
    if (filterOptions.classList.contains("hidden")) {
      filterOptions.classList.remove("hidden");
    } else {
      filterOptions.classList.add("hidden");
    }
  }
</script>

<script>
  function addToCart(productId) {
    fetch(`/catalogue/cart/add/${productId}/`, {
      method: "GET",
      headers: {
        "X-Requested-With": "XMLHttpRequest", // Required for Django to recognize it as an AJAX request
      },
    })
      .then((response) => {
        if (response.redirected) {
          alert("Please log in to add items to your cart.");

          // Redirect to login page with `next`
          const currentUrl = window.location.pathname;
          window.location.href = `{% url 'main:login' %}?next=${currentUrl}`;
          return;
        }

        if (!response.ok && !response.redirected) {
          throw new Error("Network response was not ok");
        }
        return response.json(); // Parse the JSON response
      })
      .then((data) => {
        // Update the cart count dynamically
        const cartCountElement = document.getElementById("cart-count");
        cartCountElement.innerText = data.cart_count;

        alert("Item added to cart successfully!");
      })
      .catch((error) => {
        console.error("Error:", error);
        // alert("Failed to add item to cart. Please try again.");
      });
  }

  function toggleWishlist(productId) {
    fetch(`/wishlist/toggle/${productId}/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      credentials: "same-origin",
    })
      .then((response) => {
        if (response.redirected) {
          alert("Please log in to add items to your wishlist.");

          // Redirect to login page with a `next`
          const currentUrl = window.location.pathname; // current product detail URL
          window.location.href = `{% url 'main:login' %}?next=${currentUrl}`;
          return;
        }
        return response.json();
      })

      .then((data) => {
        if (data) {
          const wishlistButton = document.getElementById("wishlist-button");
          if (data.status === "added") {
            wishlistButton.innerText = "Remove from Wishlist";
            wishlistButton.classList.remove("bg-blue-500");
            wishlistButton.classList.add("bg-red-400");
          } else if (data.status === "removed") {
            wishlistButton.innerText = "Add to Wishlist";
            wishlistButton.classList.remove("bg-red-400");
            wishlistButton.classList.add("bg-blue-500");
          }
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

<script src="{% static 'js/navbar.js' %}"></script>
{% endblock content %}
