{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Icon -->
  <link rel="icon" href="{% static 'images/BaKet_Logo.png' %}" type="image/x-icon">

  <!-- Title -->
  <title>{% block title %}{% endblock title %}BaKet</title>

  <!-- Google Font (klo mau) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    module.exports = {
      plugins: [
        require('@tailwindcss/line-clamp'),
      ],
    }
  </script>
  {% block meta %} {% endblock meta %}
</head>

<body>
  {% include 'navbar.html' %}

  {% block content %} {% endblock content %}
</body>

</html>