{% load static %}
<nav class="bg-white shadow-lg">
    <div class="w-full h-20 px-20 py-4 bg-[#f4f4f4] shadow justify-between items-center inline-flex">
        <div class="w-[102px] relative">
          <div class="w-32 h-[60px] left-0 top-0 flex-col justify-center items-center inline-flex">
            <img class="w-32 h-[60px]" src="{% static 'images/LogoPanjang.svg' %}" />
          </div>
        </div>
        <div class="justify-start items-center gap-12 flex">
          <div class="text-[#01aae8] text-base font-bold font-['Raleway'] hover:text-[#01aae8]">Beranda </div>
          <div class="text-[#c8c8c8] text-base font-bold font-['Raleway'] hover:text-[#01aae8]">Catalogue</div>
          <div class="text-[#c8c8c8] text-base font-bold font-['Raleway'] hover:text-[#01aae8]">Forum</div>
          <div class="text-[#c8c8c8] text-base font-bold font-['Raleway'] hover:text-[#01aae8]">Blog</div>
          <div class="text-[#c8c8c8] text-base font-bold font-['Raleway'] hover:text-[#01aae8]">Wishlist</div>
        </div>
    </div>
</nav>