<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
  </head>
  <body>
    <h1>All Products</h1>
    <ul>
      {% for product in products %}
      <li>
        <strong>{{ product.name }}</strong>
      </li>
      <a href="{% url 'product_detail' product.id %}">View Details</a>
      {% empty %}
      <li>No products available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
