{% extends 'base.html' %} {% load static %} {% block meta %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="styles.css" />
{% endblock meta %} {% block content %}
<div
  class="min-h-screen flex items-center justify-center bg-[#fbfbf9] px-12 py-10"
>
  <div
    class="rounded-[16px] overflow-hidden shadow-lg bg-white px-20 py-12 flex flex-col items-center justify-center"
  >
    <h2 class="mb-6 font-bold text-3xl text-center">Coming Soon 😱</h2>
    <h4 class="mb-8 text-center">Would you mind to see other features?</h4>
    <button
      class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins"
      onclick="window.location.href='{% url 'feeds:show_all' %}'"
    >
      Feeds
    </button>
    <button
      class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1"
      onclick="window.location.href='{% url 'articles:main' %}'"
    >
      Articles
    </button>
    <button
      class="bg-[#01aae8] hover:bg-[#15a1d4] text-white font-semibold py-2 px-4 rounded-[10px] use-poppins m-1"
      onclick="window.location.href='{% url 'catalogue' %}'"
    >
      Catalogue
    </button>
  </div>
</div>
{% endblock content %}
