{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{% block title %} Forum | {% endblock title %}</title>
<link rel="stylesheet" href="{% static 'css/feeds/feeds_page.css' %}">
{% endblock meta %}

{% block content %}
<div class="mx-auto bg-[#fafafa] min-h-screen flex flex-col text-center">
    <!-- Toast -->
    <div id="toast" class="hidden"></div>

    <div
        class="bg-white mx-auto w-full md:w-[700px] min-h-screen mt-[-2px] md:mt-12 md:rounded-t-[16px] break-words border md:shadow-lg">
        <div id="the-post" class="w-full mt-[3px] pb-4 pt-4 px-5 md:pb-5 md:pt-7 md:px-7">
            <div class="flex flex-row space-x-2 justify-start">
                <img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                    src="{% static 'images/dummy.jpeg' %}" class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover">
                <div class="flex w-full justify-between items-start pt-[3px] pr-[3px]">
                    <div class="flex flex-col text-left justify-start">
                        <p id="username" class="font-semibold text-gray-700 leading-none mb-1"></p>
                        <p id="dates" class="text-xs text-gray-400"></p>
                    </div>
                    <div class="relative inline-block text-left">
                        <button id="options-button" class="flex items-center justify-center w-4 h-4">
                            <img src="{% static 'icon/icons_three_dots.svg' %}" class="w-4 h-4">
                        </button>
                        <div id="options-menu"
                            class="hidden absolute right-0 mt-2 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                            <div class="flex flex-col space-y-1">
                                <button id="report-post-button" onclick="report('{{ post.id }}', 'post')"
                                    class="w-[150px] text-left px-4 py-2 text-sm font-semibold text-gray-600 hover:bg-zinc-100 focus:outline-none">
                                    Report
                                </button>
                                {% if is_user_post %}
                                <button id="edit-post-button"
                                    class="w-[150px] text-left px-4 py-2 text-sm font-semibold text-[#01aae8] hover:bg-zinc-100 focus:outline-none">
                                    Edit
                                </button>
                                <button id="delete-post-button"
                                    class="w-[150px] text-left px-4 py-2 text-sm font-semibold text-red-600 hover:bg-zinc-100 focus:outline-none">
                                    Delete
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow flex-col pt-2">
                <p id="content" class="text-left content-text mt-2 mb-4">{{ post.content }}</p>
                <div class="flex flex-row justify-between mt-3 space-x-2">
                    <div class="flex space-x-10">
                        <button id="like-icon" class="flex space-x-2 items-center">
                            {% if is_liked %}
                            <img src="{% static 'icon/icon_heart_fill.svg' %}" class="w-5 h-5">
                            {% else %}
                            <img src="{% static 'icon/icon_heart.svg' %}" class="w-5 h-5">
                            {% endif %}
                            <p class="text-gray-500">{{ post.like_count }}</p>
                        </button>
                        <button class="flex space-x-2 items-center">
                            <img src="{% static 'icon/icon_chat.svg' %}" class="w-5 h-5">
                            <p class="text-gray-500">{{ post.reply_count }}</p>
                        </button>
                    </div>
                    <button id="copy-link">
                        <img src="{% static 'icon/icon_upload.svg' %}" class="w-5 h-5">
                    </button>
                </div>
            </div>
        </div>
        <hr class="border-gray-200 w-full">
        {% if not anonymous %}
        <div class="bg-white py-4 px-5 md:py-5 md:px-7 w-full">
            <div class="flex items-start">
                <img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                    src="{% static 'images/dummy.gif' %}" class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover">
                <div class="flex-grow flex-col">
                    <form id="add-reply">
                        <textarea type="text" id="reply-content" name="content" rows="1" placeholder="Give a reply!"
                            class="w-full p-2 focus:outline-none resize-none"></textarea>
                    </form>
                    <div class="flex justify-end items-center md:mt-1">
                        <button id="reply-button" type="submit" form="add-reply"
                            class="bg-[#01aae8] text-white px-4 py-2 rounded-full font-semibold opacity-50 cursor-not-allowed">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endif %}
        <div id="replies-title" class="flex justify-start pb-2 pt-4 md:pt-5 px-6 md:px-8 hidden">
            <p class="font-semibold">Replies</p>
        </div>
        <div id="replies"></div>
    </div>
</div>

<!-- Delete Confirmation -->
<div id="delete-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-[9999] hidden">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white md:px-2 md:pt-5 md:pb-4 px-8 pt-3 pb-6">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-delete-title">
                        Delete Post
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">
                            Are you sure you want to delete this post?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-4 sm:flex sm:flex-row-reverse">
            <button id="confirm-delete-button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                Delete
            </button>
            <button id="cancel-delete-button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Cancel
            </button>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div id="edit-modal"
    class="overflow-y-auto fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-[9999] hidden">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <div class="bg-white md:px-2 md:pt-5 md:pb-4 px-8 pt-3 pb-6">
            <div class="sm:flex w-full sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-edit-title">
                        Edit Post
                    </h3>
                    <div class="bg-white py-4 md:py-5 w-full">
                        <div class="flex items-start max-w-full">
                            <img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                                src="{% static 'images/dummy.gif' %}"
                                class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover">
                            <div class="flex-1 min-w-0 w-full">
                                <textarea type="text" id="edit-content" name="content" rows="1"
                                    placeholder="Post something..."
                                    class="w-full p-2 focus:outline-none resize-none block">{{ post.content }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:px-4 sm:flex sm:flex-row-reverse">
            <button id="confirm-edit-button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#01aae8] text-base font-medium text-white hover:bg-[#15a1d4] focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
                Save
            </button>
            <button id="cancel-edit-button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Cancel
            </button>
        </div>
    </div>
</div>

<script>
    let liked_map = {};
    const likeIcons = document.querySelectorAll(".like-icon");

    likeIcons.forEach((icon) => {
        liked_map[icon.dataset.replyId] = false;
    });

    function getTime(isoString) {
        const dateObject = new Date(isoString);

        const hours = dateObject.getHours();
        const minutes = dateObject.getMinutes();
        const ampm = hours >= 12 ? 'PM' : 'AM';
        const formattedHours = hours % 12 || 12; // Convert to 12-hour format
        const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
        const timePart = `${formattedHours}.${formattedMinutes} ${ampm}`;

        const day = dateObject.getDate();
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Agu", "Sep", "Oct", "Nov", "Dec"];
        const month = monthNames[dateObject.getMonth()];
        const year = dateObject.getFullYear();
        const datePart = `${day} ${month} ${year}`;

        return `${timePart} · ${datePart}`;
    }

    function showToast(message, color) {
        const toast = document.getElementById('toast');
        toast.className = `fixed top-[-100px] left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        toast.innerText = message;

        toast.addEventListener('click', () => {
            toast.className = 'hidden';
        });

        setTimeout(() => {
            toast.className = `fixed top-24 left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        }, 50);

        setTimeout(() => {
            toast.className = `fixed top-[-100px] left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        }, 2000);

        setTimeout(() => {
            toast.className = 'hidden';
        }, 2400);
    }

    function addReply() {
        const formData = new FormData(document.querySelector('#add-reply'));
        formData.append('post_id', "{{ post.id }}");

        fetch("{% url 'feeds:create_reply' %}", {
            method: "POST",
            body: formData,
        }).then(response => {
            if (response.status === 400) {
                showToast("Failed to add reply.", "red");
            } else {
                document.getElementById("add-reply").reset();
                document.getElementById("reply-content").style.height = "auto";
                document.getElementById("reply-content").style.height = document.getElementById("reply-content").scrollHeight + "px";

                refreshReplies();
            }
        }).catch(error => {
            alert("An error occurred while adding the reply. Please try again.");
        });

        return false;
    }

    async function getAllReply() {
        return fetch("/feeds/json/reply/" + "{{ post.id }}").then(response => response.json());
    }

    async function refreshReplies() {
        document.getElementById("replies").innerHTML = "";
        document.getElementById("replies").className = "";

        let replyCards = "";
        let classNameStr = "";

        const allReplies = await getAllReply();

        if (allReplies.length === 0) {
            classNameStr = "flex flex-col items-center justify-center my-12";
            replyCards = `
                <img src="{% static 'images/NoPost.svg' %}" class="w-72 h-72">
                <p class="text-gray-400 text-lg mt-4">No replies yet.</p>
            `;
        } else {
            classNameStr = "flex flex-col items-center justify-center";
            allReplies.forEach((reply) => {
                const content = DOMPurify.sanitize(reply.content).replace(/\r?\n/g, '<br>').trim();
                const dates = getTime(reply.created_at);
                const likeSVG = reply.is_liked ? "{% static 'icon/icon_heart_fill.svg' %}" : "{% static 'icon/icon_heart.svg' %}";

                liked_map[reply.id] = reply.is_liked;

                replyCards += `
                    <div class="w-full py-5 px-6 md:py-6 md:px-8">
                        <div class="flex flex-row space-x-2 justify-start">
                            <img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                            src="{% static 'images/dummy.jpeg' %}" class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover">
                            <div class="flex-grow flex-col">
                                <div class="flex flex-col items-start space-x-1.5">
                                    <div class="flex flex-col text-left justify-start">
                                        <p class="font-semibold text-gray-700 leading-none my-1">${reply.user.username}</p>
                                        <p class="text-xs text-gray-400">${dates}</p>
                                    </div>
                                </div>
                                <p class="text-left content-text mt-2 mb-3">${content}</p>
                                <div class="flex justify-start">
                                    <button class="like-icon flex space-x-2 items-center z-50" data-reply-id="${reply.id}" data-like-count="${reply.like_count}" onclick="event.preventDefault(); event.stopPropagation(); clickLikeButton('${reply.id}')">
                                        <img src="${likeSVG}" class="w-5 h-5">  
                                        <p class="text-gray-500">${reply.like_count}</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-gray-200 w-full">
                `;
                document.getElementById("replies-title").classList.remove("hidden");
            });
        }

        document.getElementById("replies").className = classNameStr;
        document.getElementById("replies").innerHTML = replyCards;
    }

    async function report(id, type) {
        const formData = new FormData();
        formData.append("id", id);
        formData.append("type", type);

        fetch("{% url 'feeds:report' %}", {
            method: "POST",
            body: formData,
        }).then(response => {
            if (response.status === 201) {
                showToast("Reported successfully!", "green");
            } else {
                showToast("Failed to report post.", "red");
            }
        }).catch(error => {
            showToast("An error occurred while reporting the post. Please try again.", "red");
        })
    }

    refreshReplies();

    async function clickLikeButton(replyId) {
        if ("{{ anonymous }}" === "True") {
            window.location.href = "/login/";
        }

        try {
            const url = liked_map[replyId] ? `/feeds/reply-unlike/${replyId}` : `/feeds/reply-like/${replyId}`;

            const response = await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status !== 201) {
                    console.error('Failed to update like status:', response);
                } else {
                    console.log('Like status updated successfully!');
                }
            });
        } catch (error) {
            console.error('Error updating like status:', error);
        }

        if ("{{ anonymous }}" !== "True") {
            liked_map[replyId] = !liked_map[replyId];

            const icon = document.querySelector(`.like-icon[data-reply-id="${replyId}"]`);

            const heartIcon = icon.getElementsByTagName('img')[0];
            const likeCount = icon.getElementsByTagName('p')[0];

            heartIcon.src = liked_map[replyId]
                ? "{% static 'icon/icon_heart_fill.svg' %}"
                : "{% static 'icon/icon_heart.svg' %}";

            const currentCount = parseInt(likeCount.textContent);
            likeCount.textContent = liked_map[replyId] ? currentCount + 1 : currentCount - 1;
        }
    }

    function loadPost() {
        const usernameElement = document.getElementById('username');
        const datesElement = document.getElementById('dates');
        const contentElement = document.getElementById('content');

        const content = DOMPurify.sanitize(contentElement.textContent).replace(/\r?\n/g, '<br>').trim();
        let dates = `${getTime("{{ created_at }}")}`;

        usernameElement.textContent = "{{ post.user.username }}";
        datesElement.textContent = dates;
        contentElement.innerHTML = content;
    }

    loadPost();

    let liked = "{{ is_liked }}" === "True";

    document.getElementById("like-icon").addEventListener("click", async () => {
        if ("{{ anonymous }}" === "True") {
            window.location.href = "/login/";
        }

        try {
            const url = liked ? `/feeds/post-unlike/{{ post.id }}` : `/feeds/post-like/{{ post.id }}`;
            const response = await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status !== 201) {
                    console.error('Failed to update like status:', response);
                } else {
                    console.log('Like status updated successfully!');
                }
            });
        } catch (error) {
            console.error('Error updating like status:', error);
        }

        if ("{{ anonymous }}" !== "True") {
            liked = !liked;
            document.getElementById("like-icon").getElementsByTagName('img')[0].src = liked ? "{% static 'icon/icon_heart_fill.svg' %}" : "{% static 'icon/icon_heart.svg' %}";
            document.getElementById("like-icon").getElementsByTagName('p')[0].textContent = liked ? parseInt(document.getElementById("like-icon").getElementsByTagName('p')[0].textContent) + 1 : parseInt(document.getElementById("like-icon").getElementsByTagName('p')[0].textContent) - 1;
        }
    });

    document.getElementById("copy-link").addEventListener("click", () => {
        const postLink = window.location.href;
        navigator.clipboard.writeText(postLink).then(() => {
            showToast('Link copied!', 'green');
        }).catch(() => {
            showToast('Failed to copy link!', 'red');
        });
    });

    if (!(document.getElementById("add-reply") === null)) document.getElementById("add-reply").addEventListener("submit", function (event) {
        event.preventDefault();
        addReply();
    });

    document.getElementById("confirm-delete-button").addEventListener("click", async () => {
        fetch(`{% url 'feeds:delete_post' post.pk %}`, {
            method: "DELETE",
        }).then(response => {
            if (response.status === 204) {
                document.getElementById("delete-modal").classList.add("hidden");
                window.location.href = "{% url 'feeds:show_all' %}";
            } else {
                document.getElementById("delete-modal").classList.add("hidden");
                showToast("Failed to delete post.", "red");
            }
        }).catch(error => {
            showToast("An error occurred while deleting the post. Please try again.", "red");
        });
    });

    document.getElementById("confirm-edit-button").addEventListener("click", async () => {
        const formData = new FormData();
        formData.append("content", document.getElementById("edit-content").value);

        fetch(`{% url 'feeds:edit_post' post.pk %}`, {
            method: "POST",
            body: formData,
        }).then(response => {
            if (response.status === 201) {
                document.getElementById("edit-modal").classList.add("hidden");
                window.location.href = "{% url 'feeds:detail_post' post.pk %}";
            } else {
                document.getElementById("edit-modal").classList.add("hidden");
                showToast("Failed to edit post.", "red");
            }
        }).catch(error => {
            console.log(error);
            showToast("An error occurred while updating the post. Please try again.", "red");
        });
    });
</script>
<script src="{% static 'js/feeds/feeds_page.js' %}"></script>
<script src="{% static 'js/feeds/detail_post_loaded.js' %}" defer></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock content %}