{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{% block title %} Forum | {% endblock title %}</title>
<link rel="stylesheet" href="{% static 'css/feeds/feeds_page.css' %}">
{% endblock meta %}

{% block content %}
<div class="mx-auto bg-[#fafafa] min-h-screen flex flex-col text-center">
    <!-- Toast -->
    <div id="toast" class="hidden"></div>

    <h1 class="text-2xl md:text-3xl font-bold pt-8 font-['Raleway'] text-[#01aae8]">What's on Batam Today?</h1>
    <h1 class="text-base md:text-lg font-semibold pt-1 md:pt-3 pb-8 font-['Raleway']">{{ date }}</h1>
    <div class="bg-white mx-auto w-full md:w-[700px] min-h-screen rounded-t-[16px] break-words border md:shadow-lg">
        <form id="searchForm" class="flex items-center px-6 pt-5">
            <div class="flex flex-grow items-center bg-zinc-50 border rounded-[16px] px-4 py-1">
                <img src="{% static 'icon/icon_magnifyingglass.svg' %}" class="w-5 h-5">
                <input type="text" id="searchInput" placeholder="Search..."
                    class="flex-grow py-2 pl-4 bg-transparent focus:outline-none text-sm" autocomplete="off">
            </div>
        </form>
        <div class="flex mt-4">
            <button id="discover" class="flex flex-grow hover:bg-gray-100 pt-3 items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                    <p class="font-medium {% if not tabs %} text-gray-400 {% endif %}">Discover</p>
                    {% if tabs %}
                    <div class="h-[5px] w-[80px] bg-[#01aae8] mt-[7px] rounded-[99px]"></div>
                    {% else %}
                    <div class="h-[5px] w-[80px] bg-transparent mt-[7px] rounded-[99px]"></div>
                    {% endif %}
                </div>
            </button>
            <button id="your-posts" class="flex flex-grow hover:bg-gray-100 pt-3 items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                    <p class="font-medium {% if tabs %} text-gray-400 {% endif %}">Your Posts</p>
                    {% if tabs %}
                    <div class="h-[5px] w-[80px] bg-transparent mt-[7px] rounded-[99px]"></div>
                    {% else %}
                    <div class="h-[5px] w-[80px] bg-[#01aae8] mt-[7px] rounded-[99px]"></div>
                    {% endif %}
                </div>
            </button>
        </div>
        <hr class="border-gray-200">
        {% if not anonymous %}
        <div class="bg-white py-5 px-6 md:py-6 md:px-8 w-full">
            <div class="flex items-start">
                <button onclick="window.location.href='/user/settings'"><img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                    src="{{ user.userprofile.profile_picture.url }}" class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover"></button>
                <div class="flex-grow flex-col">
                    <form id="add-post">
                        <textarea type="text" id="post-content" name="content" rows="1" placeholder="Post something!"
                            class="w-full p-2 focus:outline-none resize-none"></textarea>
                    </form>
                    <div class="flex justify-end items-center mt-1">
                        <!-- <button class="flex items-center space-x-0.5 mx-2 rounded-full">
                            <p class="font-bold text-[#01aae8]">+</p>
                            <img src="{% static 'icon/icon_image.svg' %}" class="w-5 h-5">
                        </button> -->
                        <button id="post-button" type="submit" form="add-post"
                            class="bg-[#01aae8] text-white px-4 py-2 rounded-full font-semibold opacity-50 cursor-not-allowed">Posting</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endif %}
        <div id="posts"></div>
    </div>
</div>

<script>
    let liked = {};
    const likeIcons = document.querySelectorAll(".like-icon");

    function getTime(createdAt) {
        const now = new Date();
        const postDate = new Date(createdAt);
        const diffInMs = now - postDate;
        const diffInSeconds = Math.floor(diffInMs / 1000);
        const diffInMinutes = Math.floor(diffInSeconds / 60);
        const diffInHours = Math.floor(diffInMinutes / 60);
        const diffInDays = Math.floor(diffInHours / 24);

        switch (true) {
            case (diffInSeconds < 60):
                return `${diffInSeconds}s`;
            case (diffInMinutes < 60):
                return `${diffInMinutes}m`;
            case (diffInHours < 24):
                return `${diffInHours}h`;
            default:
                return postDate.toLocaleDateString('en-GB', {
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric',
                });
        }
    }

    function showToast(message, color) {
        const toast = document.getElementById('toast');
        toast.className = `fixed top-[-100px] left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        toast.innerText = message;

        toast.addEventListener('click', () => {
            toast.className = 'hidden';
        });

        setTimeout(() => {
            toast.className = `fixed top-24 left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        }, 50);

        setTimeout(() => {
            toast.className = `fixed top-[-100px] left-1/2 transform -translate-x-1/2 bg-${color}-500 text-white p-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out`;
        }, 2000);

        setTimeout(() => {
            toast.className = 'hidden';
        }, 2400);
    }

    function addPost() {
        fetch("{% url 'feeds:create_post' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#add-post')),
        }).then(response => {
            if (response.status === 400) {
                showToast("Failed to add post.", "red");
            } else {
                document.getElementById("add-post").reset();
                document.getElementById("post-content").style.height = "auto";
                document.getElementById("post-content").style.height = document.getElementById("post-content").scrollHeight + "px";

                refreshPosts();
            }
        }).catch(error => {
            alert("An error occurred while adding the post. Please try again.");
        });

        return false;
    }

    async function getAllPost() {
        return fetch("{% url 'feeds:post_json' %}").then(response => response.json());
    }

    async function getUserPost(user) {
        return fetch("/feeds/json/post/user/" + user).then(response => response.json());
        return [];
    }

    async function refreshPosts() {
        document.getElementById("posts").innerHTML = "";
        document.getElementById("posts").className = "";

        let cookie_tabs;

        try {
            cookie_tabs = document.cookie.trim().split(";").find(c => c.trim().startsWith("last_tabs")).split("=")[1] ?? "all";
        } catch (error) {
            cookie_tabs = "all";
        }

        const is_all = cookie_tabs === "all";

        let postCards = "";
        let classNameStr = "";

        if ("{{ anonymous }}" === "True" && !is_all) {
            classNameStr = "flex flex-col items-center justify-center my-12";
            postCards = `
                <img src="{% static 'images/NotAllowed.svg' %}" class="w-72 h-72">
                <p class="text-gray-400 text-lg mt-4">You're not logged in yet.</p>
                <button class="bg-[#01aae8] text-white px-6 py-2 rounded-[8px] font-semibold mt-6" onclick="window.location.href = '/login/'">Login</button>
                `;

            document.getElementById("posts").className = classNameStr;
            document.getElementById("posts").innerHTML = postCards;
            return;
        }

        const allPosts = is_all ? await getAllPost() : await getUserPost("{{ user_id }}"); // To be replaced with the actual user id

        if (allPosts.length === 0) {
            classNameStr = "flex flex-col items-center justify-center my-12";
            postCards = `
                <img src="{% static 'images/NoPost.svg' %}" class="w-72 h-72">
                <p class="text-gray-400 text-lg mt-4">No post found.</p>
            `;
        } else {
            classNameStr = "flex flex-col items-center justify-center";
            allPosts.forEach((post) => {
                const content = DOMPurify.sanitize(post.content).replace(/\r?\n/g, '<br>').trim();
                const dates = getTime(post.created_at);
                const likeSVG = post.is_liked ? "{% static 'icon/icon_heart_fill.svg' %}" : "{% static 'icon/icon_heart.svg' %}";
                const profile_picture = post.user.userprofile === null
                    ? "{% static 'images/default_pp.png' %}"
                    : post.user.userprofile.profile_picture;
                const name = post.user.first_name + " " + post.user.last_name === " "
                    ? post.user.username
                    : post.user.first_name + " " + post.user.last_name;
            

                liked[post.id] = post.is_liked;

                postCards += `
                    <a href="/feeds/post/${post.id}" class="w-full py-5 px-6 md:py-6 md:px-8 hover:bg-gray-50">
                        <div class="flex flex-row space-x-2">
                            <img alt="User Avatar" draggable="false" oncontextmenu="return false;"
                            src="${profile_picture}" class="rounded-[999px] mr-3 w-[40px] h-[40px] object-cover">
                            <div class="flex-grow flex-col">
                                <div class="flex items-center space-x-1.5">
                                    <p class="font-bold text-gray-700">${name}</p>
                                    <p class="text-sm text-gray-400">@${post.user.username}</p>
                                    <p class="text-gray-400"> · </p>
                                    <p class="text-sm text-gray-400">${dates}</p>
                                </div>
                                <p class="text-left content-text mt-1 break-words break-all max-w-full">${content}</p>
                                <div class="flex flex-row justify-between mt-3 space-x-2">
                                    <div class="flex space-x-10">
                                        <button class="like-icon flex space-x-2 items-center z-50" data-post-id="${post.id}" data-like-count="${post.like_count}" onclick="event.preventDefault(); event.stopPropagation(); clickLikeButton('${post.id}')">
                                            <img src="${likeSVG}" class="w-5 h-5">
                                            <p class="text-gray-500">${post.like_count}</p>
                                        </button>
                                        <button class="flex space-x-2 items-center">
                                            <img src="{% static 'icon/icon_chat.svg' %}" class="w-5 h-5">
                                            <p class="text-gray-500">${post.reply_count}</p>
                                        </button>
                                    </div>
                                    <button class="copy-link z-50" onclick="event.preventDefault(); event.stopPropagation(); copy_link('${post.id}');">
                                        <img src="{% static 'icon/icon_upload.svg' %}" class="w-5 h-5">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <hr class="border-gray-200 w-full">
                `;
            });
        }

        document.getElementById("posts").className = classNameStr;
        document.getElementById("posts").innerHTML = postCards;
    }

    refreshPosts();

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function copy_link(uuid) {
        const postLink = window.location.href + `post/${uuid}`;
        navigator.clipboard.writeText(postLink).then(() => {
            showToast('Link copied!', 'green');
        }).catch(() => {
            showToast('Failed to copy link!', 'red');
        });
    }

    async function clickLikeButton(postId) {
        if ("{{ anonymous }}" === "True") {
            window.location.href = "/login/";
        }

        try {
            const url = liked[postId] ? `/feeds/post-unlike/${postId}` : `/feeds/post-like/${postId}`;
            const response = await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status !== 201) {
                    console.error('Failed to update like status:', response);
                } else {
                    console.log('Like status updated successfully!');
                }
            });
        } catch (error) {
            console.error('Error updating like status:', error);
        }

        if ("{{ anonymous }}" !== "True") {
            liked[postId] = !liked[postId];

            const icon = document.querySelector(`.like-icon[data-post-id="${postId}"]`);

            const heartIcon = icon.getElementsByTagName('img')[0];
            const likeCount = icon.getElementsByTagName('p')[0];

            heartIcon.src = liked[postId]
                ? "{% static 'icon/icon_heart_fill.svg' %}"
                : "{% static 'icon/icon_heart.svg' %}";

            const currentCount = parseInt(likeCount.textContent);
            likeCount.textContent = liked[postId] ? currentCount + 1 : currentCount - 1;
        }
    }

    document.getElementById("add-post").addEventListener("submit", async (e) => {
        e.preventDefault();
        await addPost();
    });
</script>
<script src="{% static 'js/feeds/feeds_page.js' %}"></script>
<script src="{% static 'js/feeds/after_loaded.js' %}" defer></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock content %}